@import './../../styles/colors';

.dropdown-item {
  margin-top: 10px;

  .main-wrapper {
    // padding: 5px 0;
  }
  .cursor {
    cursor: pointer;
  }
  .dropdown {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all linear 0.3s;

    .sublinks {
      display: flex;
      align-items: center;
    }
  }
  .open {
    opacity: 1;
    height: 100%;
  }
  .dot-icon {
    color: $secondary-color;
    margin-right: 5px;
  }
}

.collapse {
  background: rgba(0, 0, 0, 0.03);
  padding-left: 10px;
  margin-left: -10px;
  padding: 10px;
}
