@import './../../styles/index.scss';
.page-container {
  text-align: right;

  .pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;

    .page-item {
      margin: 15px 5px;
      padding: 8px;
      border-radius: 50%;
      border: 1px solid $secondary-color;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-family: $primary-font;
      font-size: 14px;
      a {
        padding: 10px 12px;
      }
    }
    .selected {
      background: $primary-color;
      color: $tertiary-color;
      border-color: $primary-color;
    }
  }
  .prev-page,
  .next-page {
    border: 1px solid $secondary-color;
    font-family: $primary-font;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 0px;
    transition: all linear 0.3s;
    &:hover {
      background: $primary-color;
      color: $tertiary-color;
      border-color: $primary-color;
    }

    a {
      padding: 5px 15px;
      user-select: none;
    }
  }
  .disable {
    pointer-events: none;
    opacity: 0.6;
    a {
      background: none;
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}
