@import '../../styles/index.scss';
.coupon {
  .date-area {
    width: 100%;
  }
  .date {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .select-product {
    position: relative;

    .select-area {
      max-height: 300px;
      overflow-y: scroll;
      margin-bottom: 10px;

      .product-list {
        .item {
          display: flex;
          justify-content: space-between;
          padding: 4px;
          cursor: pointer;

          &:hover {
            background: $primary-color;
            color: $white-color;
          }
        }
      }
    }
  }
}
