@import '../../styles/index.scss';
.login-page {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  .heading {
    text-align: center;
    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      overflow: hidden;
      object-fit: contain;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    }
  }

  .form {
    input {
      width: 100%;
      margin-top: 10px;
      padding: 15px 10px;
      border: 1px solid $secondary-color;

      &:focus-visible {
        outline: none;
      }
    }
    .submit-btn {
      margin-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-family: $primary-font;
    }
  }
}
