@import '../../styles/index.scss';

.invoice {
  /*  background: url('/public/assets/background/Invoice-\(Gazi-Home-Appliance\)-Advance-Payment.png')
    no-repeat center;
  background-size: 100% 100%; */
  padding: 40px;
  .invoice-header {
    padding: 10px 0;
    .title {
      display: flex;
      justify-content: space-between;
    }
    .customer-details {
      margin-top: 30px;
      display: inline-block;
      padding: 10px 15px;
      color: $primary-color;
      background: $white-color;
      transform: translateY(50%);
    }
    .details {
      display: flex;
      justify-content: space-between;
      .left {
        background: $decenary-color;
        width: 75%;
        padding: 10px 15px;
        padding-top: 25px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
        }
      }
      .right {
        background: $decenary-color;
        width: 23%;
        padding: 10px 15px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
        }
      }

      p {
        font-family: $primary-font;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .invoice-body {
    margin-top: 20px;
    p {
      font-size: 14px;
    }
  }

  .invoice-table {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid $decenary-color;

    thead {
      background: $decenary-color;
      th {
        text-align: left !important;
        padding: 10px;
        font-size: 14px;
        font-weight: 600;
      }
    }
    tbody {
      tr {
        td {
          padding: 10px;
          font-size: 14px;
        }
      }
    }
  }

  .summery {
    width: 400px;
    margin-left: auto;
    margin-top: 20px;

    .item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    p {
      width: 50%;
      font-size: 14px;

      &:nth-child(even) {
        text-align: right;
      }
    }
  }
}
