@import '../../styles/index.scss';

.invoice {
  background: url('/assets/logo/invoice-logo.png') no-repeat center 70%;
  background-size: 80% 30%;
  padding: 40px;
  img {
    width: 100%;
  }
  .invoice-header {
    padding: 10px 0;
    .title {
      display: flex;
      justify-content: space-between;
    }
    .customer-details {
      display: inline-block;
      padding: 10px 15px;
      color: $primary-color;
      background: $white-color;
      transform: translateY(50%);
    }
    .details {
      display: flex;
      justify-content: space-between;
      .left {
        background: $decenary-color;
        width: 75%;
        padding: 10px 15px;
        padding-top: 25px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
        }
      }
      .right {
        background: $decenary-color;
        width: 24%;
        padding: 10px 15px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
        }
      }

      p {
        font-family: $primary-font;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .invoice-body {
    margin-top: 20px;
    p {
      font-size: 14px;
    }
  }

  .invoice-table {
    width: 100%;
    margin-top: 20px;

    .col-md-8 {
      flex-basis: 65.32%;
    }

    .heading {
      border: 1px solid $decenary-color;
    }
  }
  .col-md-4 {
    padding: 0;
  }
  .summery {
    margin-right: 8px;
    .item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    p {
      width: 49.55%;
      font-size: 14px;
    }
    .sort-summery {
      padding: 10px;
      box-sizing: border-box;
    }
  }
}
