@import '../../styles/index.scss';

.view-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  background: $quinary-color;
}
