.toggle-button {
  width: 35px;
  height: 20px;
  margin-bottom: 15px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.slider {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition: 0.2s;
  top: 0;
  left: 0;
}

.toggle-button.checked .slider {
  transform: translateX(20px);
}

.toggle-button .active {
  background-color: #4caf50;
}
