@import '../../styles/index.scss';
.overflow {
  position: relative;
  border: 1px solid $decenary-color;

  .title {
    padding: 5px 15px;
  }

  .over {
    position: absolute;
    top: 110%;
    left: 0;
    width: 150px;
    background: $white-color;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.3s;
    box-shadow: $shadow-sm;
  }
  .over > div {
    cursor: pointer;
    padding: 6px 10px;
  }
  &:hover {
    .over {
      opacity: 1;
      visibility: visible;
      div {
        &:hover {
          background: $secondary-color;
        }
      }
    }
  }
}
