@import './../../styles/index.scss';

.profile-popup {
  position: absolute;
  bottom: -70px;
  right: 10px;
  padding: 7px 15px;
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.15);
  max-width: 200px;

  .item {
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      margin-right: 10px;
    }
  }
}
