$primay-color: #556ee6;
$secondary-color: #f1b44c;
$tertiary-color: #34c38f;
$quaternary-color: #f46a6a;
$quinary-color: #50a5f1;
$senary-color: #f1b44c;
$septenary-color: #34c38f;
$octonary-color: #f46a6a;
$nonary-color: #50a5f1;
$secondary-background: #003032;