*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f8fb;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

button:not(:disabled), 
[type=button]:not(:disabled),
[type=reset]:not(:disabled), 
[type=submit]:not(:disabled) {
    cursor: pointer;
}