$shadow-sm: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
$shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
  drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
$shadow-md: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
  drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
$shadow-lg: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
  drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
$shadow-xl: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
  drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
$shadow-2xl: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
$shadow-none: drop-shadow(0 0 #0000);
