.order-table {
  .column {
    padding: 8px 10px;
  }
  .sudo {
    display: inline-block;
    margin-left: 6px;
  }
}
.order-invoice {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
.print-area {
  display: none; /* Hide by default */
}

@media print {
  .print-area {
    display: block; /* Show during printing */
  }
}
