@import './../../styles/index.scss';
.chart-card {
  background: $tertiary-color;
  padding: 10px;
  box-shadow: $shadow-sm;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;

  .img {
    text-align: center;
    img {
      width: 100px;
    }
  }
  .info {
    text-align: center;
    margin-top: 15px;

    h5 {
      font-family: $primary-font;
      font-weight: 400;
      font-size: 18px;
      color: $secondary-color;
    }
    h3 {
      font-family: $primary-font;
      font-weight: 700;
      font-size: 24px;
    }
  }
}
.chart-item {
  padding: 5px;
  box-sizing: border-box;
}
