@import '../../styles/index.scss';

.selection {
  font-family: $primary-font;
  display: block;
  margin-bottom: 10px;
  color: $secondary-color;
}
.select-wrapper {
  border: 1px solid $secondary-color;
  margin-bottom: 10px;
  .select {
    display: block;
    width: 100%;
    padding: 8px 5px;
    border: none;

    &:focus-visible {
      outline: none;
    }

    option {
      background-color: $tertiary-color;
      color: $secondary-color;
      &:hover {
        background-color: $secondary-background;
      }
    }
  }
}
