.input-text{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:focus{
        border-color: #333;
    }
    &.error{
        border-color: red;
    }
}