@import '../../styles/index.scss';
.create-product {
  .wearing {
    font-size: 12px;
    color: $secondary-color;
  }
  .product-title {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 14px;
    color: $secondary-color;
    margin-bottom: 15px;
  }
  .save-btn {
    margin-right: 10px;
  }
  .sudo-item {
    display: flex;
    span {
      width: 150px;
    }
  }
  .product-image {
    width: 150px;
    position: relative;
    img {
      width: 100%;
    }
  }
  .cross {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #454545;
    padding: 5px;
    svg {
      color: $white-color;
    }
  }
  .label {
    color: #9a9a9a;
  }
  .date-area {
    width: 100%;
    input {
      &::placeholder {
        color: black;
      }
    }
  }
  .variant {
    display: flex;
    justify-content: space-between;
  }
  .input-group {
    display: flex;
    align-items: center;
    margin-top: 15px;

    .group-title {
      width: 20%;
    }
    .select-box {
      width: 80%;
    }
  }
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: #000 !important;
}
.left-body {
  margin-right: 10px;
}
.right-body {
  margin-left: 10px;
}
.discount-area {
  display: flex;
  align-items: end;
  gap: 10px;

  .select-wrapper {
    margin-bottom: 16px;
    .select {
      height: 38px;
    }
  }
}
