@import '../../styles/index.scss';
.filter-action {
  justify-content: space-between;
}
.action {
  display: flex;
  gap: 10px;

  input {
    padding: 8px;
    border: 1px solid #9a9a9a;
    border-radius: 3px;

    &:focus-visible {
      outline: none;
    }
  }
}
