@import './../../styles/index.scss';

.header {
  padding: 10px;
  .header-main {
    display: flex;
    justify-content: end;
    align-items: center;

    .notification {
      position: relative;

      .items {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $primary-color;
      }
    }

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin-left: 15px;
    }
  }
}
