@import '../../../styles/index.scss';

.select-text {
  margin-bottom: 15px;
  label {
    display: block;
    color: $secondary-color;
  }
  select {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid $secondary-color;
    font-size: 14px;
    font-family: $primary-font;
    box-sizing: border-box;
    // border-radius: 4px;
    resize: none;

    &:focus,
    &:focus-visible {
      border: 1px solid $primary-color;
      outline: none;
    }
  }
}
