@import '../../styles/index.scss';

.column {
  border-right: 1px solid $secondary-color;
  padding: 12px;

  &:last-child {
    border-right: none;
  }
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}
