@import '../../styles/index.scss';

.table {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: none;
  border-collapse: separate;
  // border: 1px solid $secondary-color;

  div {
    padding: 12px;
    // border-right: 1px solid $secondary-color;
    // border-bottom: 1px dashed $secondary-color;
    &:last-child {
      border-right: none;
    }
  }
}
